<h2>Ledger</h2>

<table style="background-color:white;">
<tr>
  <th>Date</th>
  <th>Description</th>
  <th>Charge</th>
  <th>Payment</th>
</tr>
<tr>
  <td>5/01/18</td>
  <td>Deposit Charge</td>
  <td>($1000)</td>
  <td></td>
</tr>
<tr>
  <td>5/01/18</td>
  <td>1st Month Charge</td>
  <td>($1000)</td>
  <td>Mexico</td>
</tr>
<tr>
  <td>5/01/18</td>
  <td>Last Month Charge</td>
  <td>($1000)</td>
  <td></td>
</tr>
<tr>
  <td>5/01/18</td>
  <td>Online Payment (Visa-0098)</td>
  <td></td>
  <td>$2000</td>
</tr>
<tr>
  <td>5/05/18</td>
  <td>Check Payment (Wells Fargo)</td>
  <td></td>
  <td>$1000</td>
</tr>
<tr>
  <td>5/15/18</td>
  <td>Rent Charge (June 2018)</td>
  <td>($1000)</td>
  <td></td>
</tr>
<tr>
  <td>5/15/18</td>
  <td>Water Charge (June 2018)</td>
  <td>($100)</td>
  <td></td>
</tr>
<tr>
  <td>5/15/18</td>
  <td>Utilties Charge (June 2018)</td>
  <td>($80)</td>
  <td></td>
</tr>
<tr>
  <td>5/15/18</td>
  <td>Parking Charge (June 2018)</td>
  <td>($100)</td>
  <td></td>
</tr>
<tr>
  <td>6/02/18</td>
  <td>Online Payment (MasterCard-0567)</td>
  <td></td>
  <td>$2280</td>
</tr>
<b>
<tr id="Balance">
  <td></td>
  <td>Balance</td>
  <td></td>
  <td>$0</td>
</tr>
</b>
</table>
