<%= render "tenant_navigation" %>

<h1> Edit your profile </h1>

<% if flash[:errors] %>
  <div style="text-align:center;"class="errors"><h2><% flash[:errors].each do |er| %>
    <%= er %></h2></div>
    <% end %>
<% end %>

<%= render 'form' %>
<br><br>
