
<%= render "/partials/navigation" %>
<br>
<br>
<br>
<% if flash[:notice] %>
  <div style="text-align:center;"class="notice"><h2><%= flash[:notice] %></h2></div>
  <% end %>
<% if flash[:errors] %>
  <div style="text-align:center;"class="errors"><h2><%= flash[:errors] %></h2></div>
<% end %>


<%= render "/partials/login_form" %>
