<div class="container">

  <div class="omb_login">
    <h3 class="omb_authTitle">Administrator Login
    </h3>
    <div class="row omb_row-sm-offset-3 omb_socialButtons">
      <div class="col-xs-4 col-sm-2">
        <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
          <i class="fa fa-facebook visible-xs"></i>
          <span class="hidden-xs">Facebook</span>
        </a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
          <i class="fa fa-twitter visible-xs"></i>
          <span class="hidden-xs">Twitter</span>
        </a>
      </div>
      <div class="col-xs-4 col-sm-2">
        <a href="#" class="btn btn-lg btn-block omb_btn-google">
          <i class="fa fa-google-plus visible-xs"></i>
          <span class="hidden-xs">Google+</span>
        </a>
      </div>
    </div>
    <!-- Begin of logint page -->
    <div class="row omb_row-sm-offset-3 omb_loginOr">
      <div class="col-xs-12 col-sm-6">
        <hr class="omb_hrOr">
        <span class="omb_spanOr">or</span>
      </div>
    </div>

    <div class="row omb_row-sm-offset-3">
      <div class="col-xs-12 col-sm-6">
        <%= form_for @admin, html: {:class => "omb_loginForm"} do |f| %>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-user"></i>
          </span>
          <%= f.text_field :email, name: "email", class: "form-control", :placeholder => "email address" %>
        </div>
        <span class="help-block"></span>

        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-lock"></i>
          </span>
          <%= f.password_field :password, name: "password", class: "form-control", placeholder: "Password" %>
        </div>
        <span class="help-block">Password error</span>
        <%= f.submit "Login", class: "btn btn-lg btn-primary btn-block" %>
      <% end  %>
    </div>
  </div>

  <div class="row omb_row-sm-offset-3">
    <div class="col-xs-12 col-sm-3">
      <label class="checkbox">
        <input type="checkbox" value="remember-me">Remember Me
      </label>
    </div>
    <div class="col-xs-12 col-sm-3">
      <p class="omb_forgotPwd">
        <a href="#">Forgot password?</a>
      </p>
    </div>
  </div>
</div>

</div>
