<h1> Create your account </h1>

<% if flash[:errors].any? %>
    <ul>
        <%= flash[:errors].map do |err|  %>
            <li><%= err %></li>
        <%end%>
    </ul>    
<%end%>

<%= render 'form'%>