<%= render '/partials/admin_navigation' %>
<h1>Sector: <%= @sector.name %></h1>

<img src= "https://www.themillions.com/wp-content/uploads/2015/07/SHINING_1.jpg" alt="Sector Photo (come and play with us Danny come and play with us forever and ever)" width="440" height="300">

<p>Units: </p>
<ul>
<% @units.map do |u| %></p>
  <li><%= link_to u.name, u %></li>
<% end %>
</ul>

<%if session[:admin_id]%>
  <%= link_to "Edit Sector", edit_sector_path%>
<%end%>
