<% require 'gchart'
%>
<h1> New Property Form </h1>

<%= render "form" %>



<img src="<%=Gchart.pie(:data => [@empty_units.length, @full_units.length], :size => '300x300', :title => 'Current vacancies', :legend => @legend)%>" align="right"/>
