<font color="#3A3433">
<center><h1> Our Story </h1></center>

<center><h3><i> Man, I hate talking to my landlord. Why isn't there a website that <br> can centralize communications with the rest of the people in my building?</i> </h3></center><br>

<center><img src="https://i.imgur.com/CTS0k17.jpg" title="source: imgur.com" style="display: block, width:300px;height:400px;" /></center>

<br>
<br>

<div >
<center><h1>Our Mission</h1></center>
<center><h3> To bridge the gap between tenants and landlords</font> </h3> </center> <br>
</div>

<center><h4 style="background-color:#F2F3F4; padding: 40px 40px 40px 40px">At Property Pal, we understand how difficult it is to be in a tenant-landlord relationship.<br>
Tenants have a hard time reaching their building administrators, and administrators have too many tenants to keep track of.<br>
Without clear channels of communication, it can take weeks, months, or even years for tenants and building administrators to have a proper conversation.<br>
<br>
Here at <b>Property Pal</b> our mission is to bridge the gap between tenants and administrators.<br> We truly believe that through the power of effective communication, <br>landlords and tenants will begin to build communities or, at the very least, become pals. </h4></center>