<h1>Unit: <%=@unit.name %> </h1>

<img src= "http://invisionstudio.com/wp-content/uploads/2015/05/23-1.jpg" alt="Apartment Photo" width="440" height="300">

<h3>Tenant(s): </h3>
<p><% @tenants.map do |t| %> </p>
  <%= t.fullname %>
<% end %>

<%if session[:admin_id]%>
  <%= link_to "Edit Unit", @unit%>
<%end%>