#intro_welcome{
  height: 750px;

}

 #welcome_div{
   border-radius: 20px;
   border-style: solid;
   background-color: white;

 }


 #welcome {
   border-radius: 2px;
   border: auto;
   margin-top: 10px;
   font-size: 54px;
   text-align:center;
 }

 .image-container{
   // position: relative;
 }

 body div #second {
   width: 100% !important;
   padding-left: 0px;
   padding-right: 0px;
 }
 .no-padding{
   padding-left: 0px;
   padding-right: 0px;

 }

#second{
  width: 100% !important;
  height:950px;
  padding-left: 0px;
  padding-right: 0px;
  background-size: cover;
  background-repeat: no-repeat;

}
